<h1>Word Counter!</h1>

<form action="/results">
  <div class="form-group">
    <label for="entered_word">Insert your word below:</label>
    <input id="entered_word" name="entered_word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="wordy_string">Here's where you put your array of words to compare against!</label>
    <input id="wordy_string" name="wordy_string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Get your count on!</button>
</form>
